services:
  web:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - pg-network
    volumes:
      - .:/app
  
  db:
      build:
        context: .
        dockerfile: docker/db/Dockerfile
      ports:
        - "5433:5432"
      volumes:
        - pg-data:/var/lib/postgresql/data
      networks:
      - pg-network
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    # 'volumes' dla php MUSI tu być, aby widzieć zmiany na żywo
    volumes:
      - .:/app
    depends_on:
      - db
    networks:
      - pg-network
  
  pgadmin-wdpai:
    image: dpage/pgadmin4:latest
    container_name: pg-admin2
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - pg-network
  
networks:
  pg-network:

volumes:
  pg-data:


